<div class="col-sm-12" id="semicolumn"> 
    <h3>Generar citación a comité</h3>
    <form class="form">
        <div clas= "row">
            <div class="col-12">
                <div class="nameAprendiz">
                    Seleccione la fecha y la hora en la que se desea programar la citación
                </div>
                <div class="calendar">
                    <div>
                        <input type="date" id="date-acta" name="date-acta">
                    </div>
                </div>
                <div class="calendar">
                    <div>
                       <input type="time" id="date-acta" name="date-acta">
                   </div>
                </div>
                <div class="col-mb-3">
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-submit" id="boton">Citar</button>
                        <p id="message"></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>