<div class="row" id="row-1">
  <div class="col-md-12" id="columnMenu">
    <div class="title-welcome">
      <h1>Bienvenido Coordinador</h1>
    </div>
  </div>
  <div class="col-md-1" id="column1"></div>
</div>
<div class="row" id="row-2">  
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-body">
        <a class="card-title" href="{{url_for('registrarAprendizCoordinacion')}}">Registrar aprendiz</a>
        <i class="bi bi-person-add" id="menu"></i>
      </div>
    </div>
  </div>        
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-body">
        <a class="card-title" href="{{url_for('reportarCoordinacion')}}" >Reportar aprendiz</a>
        <i class="bi bi-flag" id="menu"></i>
      </div>
    </div>
  </div>   
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-body">
        <a class="card-title" href="{{ url_for('procesosCoordinacion') }}">Casos pendientes</a>
        <i class="bi bi-card-list" id="menu"></i>
      </div>
    </div>
  </div>  
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-body">
        <a class="card-title" href="{{url_for('historialCoordinacion')}}">Consultar historial</a>
        <i class="bi bi-search" id="menu"></i>
      </div>
    </div>
  </div>  
</div> 




