<div class="col-sm-12" id="semicolumn">
    <h3>Procesos pendientes</h3>
    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox"  onclick="mostrarBoton(this)">
          <label class="form-check-label" for="checkbox">
          </label>
        </div>
        <h5 class="card-title">Caso #1</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Nombre aprendiz</h6>
        <p class="card-text">Hechos</p>
      </div>
    </div>
    <a class="btn btn" id="boton-2" href="{{url_for('citacion')}}">Citar a comité</a>
  </div>