<div class="col-sm-12" id="semicolumn">
  {% for reporte in reportes %}
            <div class="card-historial">
                <div class="card-header">Id del reporte: {{ reporte.IdReporte }}</div>
                <div class="card-body">
                    <div class="columnas">
                        <h5 class="card-title-nombre">Información del aprendiz</h5>
                  <p class="card-text">Cedula: </p>{{ reporte.CedulaUsuario }}
                  <p class="card-text">Nombre:</p> {{ reporte.Nombre }}
                  <p class="card-text">Ficha:</p> {{ reporte.Ficha }}
                  <p class="card-text">Programa formación:</p> {{ reporte.ProgramaFormacion }}
                  <p class="card-text">Coordinación:</p>{{ reporte.Coordinacion }}

                  <h5 class="card-title-nombre">Información del reporte</h5>
                  <p class="card-text">Tipo de falta:</p> {{ reporte.TipoFalta }}
                  <p class="card-text">Causas del reporte: </p>{{ reporte.CausasReporte }}
                  <p class="card-text">Faltas: </p>{{ reporte.Faltas }}
                  <p class="card-text">Fecha y hora: </p>{{ reporte.FechaHora }}
                  <p class="card-text">EvidenciaPDF:</p>{{ reporte.EvidenciaPDF }}
                </div>
                <a class="btn btn" id="boton-2" href="{{url_for('citacion')}}">Citar a comité</a>
              </div>
            </div>
            {% endfor %}
           