<div class="col-sm-12" id="semicolumn">
    <h3>Consultar historial</h3>
    <div class="text">Digite el numero de documento del aprendiz que desea consultar</div>
    <form class="form" action="/consultarHistorialinstructor/i" method="POST">
        <div class="row">
            <div class="mb-3">
                <label for="CedulaUsuario" class="form-label">Número de documento</label>
                <input type="text" class="form-control" id="CedulaUsuario"
                name="CedulaUsuario">
            </div>
            <div class="col-mb-3">
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-submit" id="boton-consultar">Consultar</button>
                </div>
            </div>
        </div>
    </form>
</div>