<div class="row" id="row-1">
    <div class="col-md-12" id="columnMenu">
      <div class="title-welcome">
        <h1>Bienvenido Instructor</h1>
      </div>
    </div>
    <div class="col-md-1" id="column1"></div>
  </div>
  <div class="row" id="row-2">  
    <div class="col" id="options">
      <div class="card-menu">
        <div class="card-body">
          <a class="card-title" href="{{url_for('registrarInstructor')}}">Registrar aprendiz</a>
          <i class="bi bi-person-add" id="menu"></i>
        </div>
      </div>
    </div>        
    <div class="col" id="options">
      <div class="card-menu">
        <div class="card-body">
          <a class="card-title" href="{{url_for('reportarInstructor')}}">Reportar aprendiz</a>
          <i class="bi bi-flag" id="menu"></i>
        </div>
      </div>
    </div>   
    <div class="col" id="options">
      <div class="card-menu">
        <div class="card-body">
          <a class="card-title" href="{{url_for('consultarInstructor')}}">Consultar historial</a>
          <i class="bi bi-search" id="menu"></i>
        </div>
      </div>
    </div>  
  </div> 