html {
    --scrollbarBG: #f1f5f7;
    --thumbBG: #39A900;
  }
  body::-webkit-scrollbar {
    width: 21px;
  }
  body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 8px;
    border: 3px solid var(--scrollbarBG);
  }
   .sena-fondo:hover{
    background-color:#f0ec84;
}
.sena-text-yellow{
  color:yellow;
}
.sena-text-white{
  color:white;
}
.sena-text-red{
  color:red;
}

.sena-img:hover{
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4)
  
}
.sena-xlargo{
  width:100px;
}
.sena-p3{
  width:30%;
}
.sena-p4{
  width:40%;
}
.sena-p6{
  width:70%;
}
.sena-p100{
  width:100%;
}
.sena-fondo{
    background-color:white;
}
.sena-color{
    background-color:#39A900;
    border-color: darkgray;
}   
.sena-sombra{
    text-shadow: 2px 2px 5px #000000;
}
.sena-hover:hover{
    background-color:#eaf39c;
}
  .sena-btn:hover{
    background-color:#eaf39c;
    background-color:yellow;
  }
  .sena-navbar{
    background-color:rgb(1, 1, 32);
  }
  .sena-btn {
  cursor:pointer;    
  background: url("https://siomi.datasena.com/bt1.jpg") no-repeat right center;  
  text-align: center;
  height: 40px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px #ABEBC6;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px #ABEBC6;
  padding: 10px 10px 10px 10px;
  padding: 10px 0;
  
   margin:10,10,10,10;
   border:10,10,10,10;
   
   border-radius: 15px 10px 10px 15px;
  -moz-border-radius: 15px 10px 10px 15px;
  -webkit-border-radius: 15px 10px 10px 15px;
  border: 1px solid #000000;
  background-color: rgb(250, 247, 247);
  color:black;
  vertical-align: middle;;
  }
  .sena-btn,.sena-btns:hover{
    background-color:#eaf39c;
  }
    .sena-btns:hover{
        background-color:#eaf39c;
        background-color:yellow;
  }.sena-btns {
    cursor:pointer;    
     text-align: left;
     text-align: center;
  
  height: 40px;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px #ABEBC6;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px #ABEBC6;
  padding: 10px 10px 10px 10px;
  padding: 10px 0;
  
   margin:10,10,10,10;
   border:10,10,10,10;
   
   border-radius: 15px 10px 10px 15px;
  -moz-border-radius: 15px 10px 10px 15px;
  -webkit-border-radius: 15px 10px 10px 15px;
  border: 1px solid #000000;
  background-color: black;
  color:white;
  vertical-align: middle;;
  }
  .sena-btn:hover{
    background-color:#eaf39c;
    background-color:yellow;
  }
  .sena-btns:hover{
    background-color:yellow;
    color:black;
  }
  .sena-round{
    border-radius:4px
  }
  .sena_m10{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
  }
  .sena-card{
    border-radius: 10px 10px 55px 53px;
  -moz-border-radius: 10px 10px 55px 53px;
  -webkit-border-radius: 10px 10px 55px 53px;
  border: 1px solid #000000;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .sena-card1{
    border-radius: 47px 49px 10px 10px;
    -moz-border-radius: 47px 49px 10px 10px;
    -webkit-border-radius: 47px 49px 10px 10px;
    border: 1px solid #000000;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }  
  .sena-card2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  border: 1px solid #000000;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
    main {
    padding: 0.75rem;
}

.sena__container {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 1.5rem;
    margin: auto;
    max-width: var(--web-margin);
}

.sena__oportunidad {
    grid-area: 1/1/2/3;
}

.sena__oportunidad-img {
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
    width: 100%;
    gap: 1.125rem;
}

.sena__i-cards {
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    display: flex;
    gap: 0.875rem;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    justify-items: center;
    background-color: var(--secondary-background);
}




.sena__ingles-niveles {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-info);
    box-shadow: var(--primary-shadow);
    border-radius: 12px;
}

.sena__ingles-text {
    text-align: center;
    padding: 1.25rem 2.813rem;

}

.sena__ingles-imgs {
    width: 100%;
}

.sena__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.sena__informacion-card {
    width: 100%;
    box-shadow: var(--primary-shadow);
    border-radius: 12px;
    border: 1px solid var(--alternate-background);
}

.sena__informacion-card--none {
    border: none;
}

.sena__informacion-card-header {
    border-radius: 12px;
    width: 100%;
    height:150px;
    background-color: var(--alternate-background);
    display: flex;
}

.sena__information-card-title {
    padding: 1.5rem 3rem;
    margin: auto;
    color: var(--color-info);
    background-color:va(--thumbBG);
    font-weight: bold;
    height:50px;
    
}







.sena__informacion-card-icon {
    height: 6.25rem;
}

.sena__informacion-test {
    width: 12.5rem;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: var(--primary-shadow);
}

@media(max-width: 1200px) {
    .sena__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .sena__oportunidad {
        grid-area: 1/1/2/2;
    }

    .sena__informacion {
        grid-area: 2/1/3/2;
    }

    .sena__informacion-card-container {
        gap: 0.75rem;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .sena__informacion-card-icon {
        height: 4.375rem;
    }
}

@font-face {
  font-family: 'Work Sans Regular';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url('../fonts/WorkSans-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


/* Estilos navbar */

.logo{
  width: 200px;
}

.nav-link{
  color: #000000;
}

#rolnav{
  margin-left: 50px;
  background: #6d9d6d;
  color: white;
  width: 200px;
}

#semicolumn{
  background-color:  rgb(249, 249, 249);
  padding: 70px;
}

#semicolumn h3 {
  text-align: center;
  padding-bottom: 30px;
}

/* Estilos formulario */

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para cada fila */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

#boton{
  background: #6d9d6d;
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  height: 45px;
}

/* Estilos para registrar aprendiz rol instructor */

.text-registrar{
  margin: 40px;
  font-size: 18px;
}

/* Estilos para consultar historial rol instructor */

.text{
  margin: 30px;
  font-size: 18px;
}

#boton-consultar{
  background: #6d9d6d;
  color: white;
  margin-top: 30px;
  text-align: center;
  width: 200px;
  height: 45px;
}

/* Estilos para rol coordinacion */

/* Estilos para procesos pendientes rol coordinacion */

#boton-2{
  background: #6d9d6d;
  color: white;
  text-align: center;
  width: 200px;
  margin-top: 30px;
}

.calendar{
  margin-top: 20px;
}

/* Estilos para citacion rol coordinacion */


#date-acta{
  width: 400px;
  border-radius: 10px;
  padding: 5px;
}


#boton{
  background: #6d9d6d;
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  height: 45px;
}

/* Estilos para citacion rol aprendiz*/

#rolAprendiz{
  margin-left: 250px;
  background: #6d9d6d;
  color: white;
  width: 200px;
}

/* Estilos para descargos rol aprendiz*/

.container-2{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  padding: 10px;
}


.card-menu{
  width: 220px;
  height: 200px;
  background-color: #6d9d6d;
  color: white;
  margin-top: 40px;
  text-align: center;
}
  
  
#menu{
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: flex; /* Hace que el contenido sea un contenedor flex */
  margin-top: 15px;
}
  
.row-1{
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Asegura que las filas se envuelvan si no caben en una sola línea */
  text-align: center;
  margin-left: 150px;
}

#columnMenu {
  display: flex;
  flex-direction: column; /* Cambia la dirección de los elementos a columna */
  justify-content: center;
  align-items: center;
  text-align: center; /* Alinea el contenido horizontalmente */
  margin: auto 0;
}

#rolRelator{
  margin-left: 250px;
  background: #6d9d6d;
  color: white;
  width: 200px;
}

.title-welcome{
  text-align: center;
  margin: 30px;
}

.card-title{
  text-decoration: none;
  font-size: 30px;
  color: white;
}

a:hover{
  color:white;
}


/* Estilos login */

/* Estilo columna login */

#column{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@media screen and (max-width: 890px){
  #background-evaseg{
      background-image: none;
  }
}

/* Estilo formulario*/


.login-img{
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  max-height: 100%; /* La imagen no superará la altura del contenedor */
  width: 350px; /* La imagen mantendrá su relación de aspecto */
  height: 400px;
}

.logo-login{
  margin-bottom: 50px;
}

.login-title{
  text-align: center;
}

.recover-text{
  margin-top: 5px;
  font-size: 25px;
}


input{
  width: 300px;
}

.btn-login{
  width: 300px;
  background: #63a154;
  color: white;
  margin-top: 5px;
}

.password{
  text-align: center;
  margin-top: 10px;
}

.recover{
  border: 0px;
  background-color: transparent;
}

.card-historial{
  margin-top: 30px;
}

.card-title{
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.card-title-nombre{
  margin: 20px;
}

.historial-title{
  margin: 30px;
}

.card-text{
  margin: 10px;
  font-weight: bold;
}

.columnas{
  columns: 2;
}

.card-header{
  background-color: #63a154;
  font-weight: bold;
  font-size: 18px;

}