{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="#">
      <img src="../static/images/comite_logo.png" class="logo">
    </a>
<div class="container">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="d-flex" role="search">
        <button class="btn btn-submit" id="rol" type="submit"><i class="bi bi-person"></i>Relator</button>
    </form>
    </div>
    </div>
    </nav>
    <div class="col-sm-12" id="semicolumn">
        <h3>Generar Acta</h3>
        <form class="form">
            <div class="row">
                <div class="mb-3">
                    <label for="nameAprendiz" class="form-label">Fecha:</label>
                    <div class="calendar">
                        <div>
                            <input type="date" id="date-acta" name="date-acta">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nameAprendiz" class="form-label">Hora:</label>
                    <div class="calendar">
                        <div>
                            <input type="time" id="date-acta" name="date-acta">
                        </div>
                    </div>
                </div>
                    <div class="mb-3">
                        <label for="causesAprendiz" class="form-label">Detalles comité:</label>
                        <div class="calendar">
                            <textarea class="form-control" id="causes"  name="cuasas-proceso"></textarea>
                        </div>
                    </div>
                <div class="mb-3">
                    <label for="branchAprendiz" class="form-label">Seleccionar Documentos:</label>
                    <div class="calendar">
                        <input type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </div>
                <div class="col-mb-3">
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-submit" id="boton">Generar</button>
                        <p id="message"></p>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
    
    {% endblock content %}
    